<nb-layout>

        <nb-layout-header>
            <nb-actions size="medium">
                <nb-action class="mt-4" nbTooltip="Home" nbTooltipIcon="home-outline">
                    <h1 class="site-title">Musafir</h1>
                </nb-action>
                <nb-action icon="power-outline"></nb-action>
                <nb-action icon="person-outline"></nb-action>
                <nb-action icon="home-outline"></nb-action>
                <nb-action>
                  Custom Action
                </nb-action>
              </nb-actions>
        </nb-layout-header>
        <nb-layout-column>
            <router-outlet>
                
            </router-outlet>
    </nb-layout-column>
</nb-layout>